
button {
    border: 2px solid purple;
    background-color: yellow;
    padding: 4px 10px;

}
.container {
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)*/
    width: 720px;
    height: 720px; 
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    margin: auto; 
    justify-content: center;
    
}

#outerDivs { 
    display: flex;
    justify-content: center;
    align-items: center; 
}   

#innerDivs {
    border: 1px solid black;
    transition: 4.0s ease;
    box-sizing: border-box;
}   

.overLight {
    border:2px solid yellow !important; 
    background-color: silver;
    transform: scale(1.2);
    transition-duration: 0.0s !important;
}
